{{- if .Values.actionJobServiceAccounts.create }}
{{- range .Values.actionJobServiceAccounts.namespaces -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "git-events-runner.actionJobServiceAccountName" $ }}
  namespace: {{ . }}
  labels:
    {{- include "git-events-runner.labels" $ | nindent 4 }}
  {{- with $.Values.actionJobServiceAccounts.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
automountServiceAccountToken: {{ $.Values.actionJobServiceAccounts.automount }}
{{- end }}
{{- end }}
