{{- if .Values.rbac.create }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "git-events-runner.fullname" . }}-action-jobs
  labels:
    {{- include "git-events-runner.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - git-events-runner.rs
    resources:
      - gitrepos
    verbs:
      - get
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "git-events-runner.fullname" . }}-cluster-action-jobs
  labels:
    {{- include "git-events-runner.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - git-events-runner.rs
    resources:
      - clustergitrepos
    verbs:
      - get

{{- if .Values.rbac.actionJobServiceAccounts.createRoleBindings }}
{{- if .Values.actionJobServiceAccounts.namespaces }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "git-events-runner.fullname" . }}-cluster-action-jobs
  labels:
    {{- include "git-events-runner.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "git-events-runner.fullname" . }}-cluster-action-jobs
subjects:
{{- range .Values.actionJobServiceAccounts.namespaces }}
  - kind: ServiceAccount
    name: {{ include "git-events-runner.actionJobServiceAccountName" $ }}
    namespace: {{ . }}
{{- end }}
{{- end }}

{{- range .Values.actionJobServiceAccounts.namespaces }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "git-events-runner.fullname" $ }}-action-jobs
  namespace: {{ . }}
  labels:
    {{- include "git-events-runner.labels" $ | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "git-events-runner.fullname" $ }}-action-jobs
subjects:
  - kind: ServiceAccount
    name: {{ include "git-events-runner.actionJobServiceAccountName" $ }}
    namespace: {{ . }}
{{- end }}

{{- end }}
{{- end }}
